* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    position: relative;
    overflow: hidden;
}

.hero {
    background-image: url(producto1.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #ff007f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e6006c;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

.about, .shop, .contact {
    margin-bottom: 40px;
}

.shop {
    text-align: center;
}

.product-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card .price {
    font-weight: bold;
    color: #ff007f;
    margin: 10px 0;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-top: 10px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    background-color: #ff007f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #e6006c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}